<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>264465522033-q8nv3sb7p8srccim9d62m9vseed7sirr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.264465522033-q8nv3sb7p8srccim9d62m9vseed7sirr</string>
	<key>API_KEY</key>
	<string>AIzaSyDbdLLmlkV1v6N5AyKBkLUl-iLj9MGIJFo</string>
	<key>GCM_SENDER_ID</key>
	<string>264465522033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatOnline</string>
	<key>PROJECT_ID</key>
	<string>chat-online-43389</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-online-43389.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264465522033:ios:fe8257b124a9bbca09aad0</string>
</dict>
</plist>